.nav-container {
    padding: 20px;
    display: flex;  
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.nav-link {
    color: #eaf9dc;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}
.auth-modal {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
}
.cart-btn {
    background-color: #2b0a43;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}