.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.form-group label {
    font-size: 14px;
    font-weight: 500;
    color: #2e2d1c;
    text-align: left;
}
.form-input {
    padding: 10px;
    margin-top: 5px;
    background-color: #fafef7;
    border: 1px solid #a3bda5;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}
.form-input:focus {
    border-color: #2e2d1c;
}
/* sign up / log in */
.sU-lI {
    color: #27ae60;
    cursor: pointer;
    margin-left: 5px;
    font-weight: bold;
}